@keyframes led {
  0% {
    box-shadow: none;
    background: darkred;
  }
  50% {
    box-shadow: 0px 0px 5px 0 red;
    background: red;
  }
  100% {
    box-shadow: none;
    background: darkred;
  }
}

@keyframes float {
  0% {
    transform: rotate(10deg) skew(10deg) translate(0, 0);
  }
  50% {
    transform: rotate(10deg) skew(10deg) translateY(20px);
  }
  100% {
    transform: rotate(10deg) skew(10deg) translate(0, 0);
  }
}

.animate-led {
  animation-name: led;
  animation-duration: .6s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

.animate-fadeIn {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
}

.animate-float {
  animation-name: float;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}