* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #ffefcc;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    font-size: 62.5%;
}

.sdplus {
  position: absolute;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  width: 90mm;
  height: 90mm;

  background: white;

  border: .8mm solid black;

  transition: .25s;
}

.sdplus:hover {
    transform: rotate(30deg) skew(30deg) translate(0, 0);
    margin-top: 15rem;
    margin-right: 30rem;

    cursor: crosshair;
}

.sdplus:hover:before {
    content: '';
    position: absolute;
    width: 126mm;
    height: 90mm;
    background: #181818;
    transform: skewY(-40deg) rotate(0deg);
    left: 89mm;
    top: -53.5mm;

    transition: 1s;
}

.sdplus:hover:after {
    content: '';
    position: absolute;
    width: 90mm;
    height: 106mm;
    background: #393939;
    transform: skewX(-50deg) rotate(0deg);
    left: 62.3mm;
    top: -106.7mm;

    transition: 1s;
}

.logo-container {
    position: relative;
    width: 75%;
    height: 17.5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    justify-self: flex-start;
    
    background: white;
    
    margin: .8rem 0
}

.tt-logo {
    width: 45px;
    height: 45px;
}

.sdplus-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;

    position: relative;
    width: 75%;
    height: 1.7cm;
    
    
    background: #094b1e;    
}

.display-text {
    color: #7eff29;
    letter-spacing: 2px;
    line-height: 1.5;

    text-shadow: 0 0 4px #7eff29;
}

.divider {
    position: relative;

    width: 100%;
    height: 5%;

    margin-top: 3rem;

    background: #1c1c1c;
}

.leds {
    position: relative;

    margin-top: 1rem;

    align-items: center;
    justify-content: center;

    width: 90%;
    height: 5%;

    display: flex;
    flex-direction: row;
}

.led {
    background: darkred;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 1.3rem;
}

.buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;

}

.button {
    background: white;
    border-radius: 50%;

    color: #5bb51e;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 18px;

    width: 38px;
    height: 38px;
    margin: 2.4rem 1.7rem;

    border: 1px solid #747474;
    box-shadow: inset 0 0 2px 0 black;
    box-shadow: 1px 1px 4px -1px black;

    outline: none;
    cursor: pointer;
}

.button:active {
    transform: translateY(.5px);
    box-shadow: none;
}